---
service_defaults:
  service: stderr
  type: io
  destination: STDERR
  cull: true
port: 47990
host: 0.0.0.0
default_log: log/default.log
daemonize: false
syncinterval: 1
pidfile: log/streamserver.pid
command:
  - listener: postgresql
    destination: postgresql://postgres:ENV["DEST_PASSWD"]@127.0.0.1/minion
    channel: agent_commands
    processor: postgresql
groups:
  - id: "test-group-1"
    key: "ee2df8e807e99f6d5ee48b00b4558b069d3af0e25a9c3fdf741952857b2bd84f"
    command:
      - listener: postgresql
        destination: postgresql://postgres:ENV["DEST_PASSWD"]@127.0.0.1/minion
        channel: agent_commands
        processor: postgresql
    services:
      - service:
        - a
        - b
        type: file
        destination: log/a.log
        cull: true
        levels: a,b,c,d
      - service: c
        type: file
        destination: log/c.log
        cull: true
    telemetry:
      - destination: STDERR
        type: io
    responses:
      - destination: STDERR
        type: io
  - id: "test-group-2"
    key: "798c733ba086c606fa8a925ab69bebf1cc44ee11a19ac81eaa4689774a6b6b04"
    service_defaults:
      service: default
      type: postgresql
      destination: postgresql://postgres:ENV["DEST_PASSWD"]@127.0.0.1/minion
      options: []
    services:
      - service: pg
        options:
          - batch_size: 2000
          - inserts_per_transaction: 100
          - channel_depth: 100000
          - queue_process_wait: 0.1
      - service: auth
      - service: null
        destination: /dev/null
        type: file
        cull: false
      - service: stderr
        destination: STDERR
        type: io
        cull: true
        default: true
    telemetry:
      - label: telemetry 
    responses:
      - destination: STDERR
        type: io
